name: ui_screen

description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_screenutil:
  bloc: ^9.1.0
  flutter_bloc: ^9.1.1
  equatable: ^2.0.7
  meta:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints:


flutter:
  uses-material-design: true


  assets:
    - asset/image/


  #  fonts:
  #    - family: A
  #      fonts:
  #        - asset: asset/font/
  
  
  
  
  
  
  
  
  
  
